<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="../css/modal.css" rel="stylesheet"/>
</head>
<body>
<div th:each="category : ${categories}" class="form categoryform">
    <div th:object="${category}">
        <a th:href="@{/categories/{path}(path = *{id})}" th:text="*{getName()}">category</a>
    </div>
</div>
<div id="new" class="modalDialog">
    <div>
        <a href="javascript:history.back()" title="Close" class="close">X</a>
        <h1>Please input new category name</h1>
        <form action="" th:action="@{categories}" method="post">
            <input id="categoryname" type="text" placeholder="Name" required th:field="*{newcategory.name}" class="field">
            <input type="submit" value="Submit" class="button button-success">
        </form>
    </div>
</div>
<div id="result" class="modalDialog">
    <div>
        <a href="javascript:history.back()" title="Close" class="close">X</a>
        <h2>Category is success created</h2>
    </div>
</div>
<div id="error" class="modalDialog">
    <div>
        <a href="javascript:history.back()" title="Close" class="close">X</a>
        <h2>Something went wrong</h2>
    </div>
</div>
</body>
</html>